@use '../abstracts/' as *;

.contact{
    margin: 10rem 0;
    height: 60rem;
   .row{
    justify-content: center;
   }

    input{
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    background-color: #ebf5f5;
    color: #888;
    font-weight: inherit;
    padding: 3px 20px;
    height: 50px;
    }
    textarea{
        background-color: #ebf5f5;
    }

    .content-wrap{
        text-align: left;
        align-items: flex-start;
    
        height: 100%;
        position: relative;
        
          
    
        .content-inner{
            display: flex;
            position: relative;
           
            &::after{
                content: '';
                position: absolute;            
                bottom: -2rem;
                display: block;
                width: 20rem;
                height: .2rem;
                background: #e12454;
                width: 90%;
                left: 50%;
                transform: translateX(-50%);
            }
    
           
        }
    
        .image{
            width: 100px;
            margin-right: 20px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            
        }
    
        .content{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
             -ms-flex-positive: 1;
             flex-grow: 1;
        }
    
        .heading {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 15px;
           
        }
        .text{
            font-size: 1.4rem;
            width: 80%;
            font-weight: 500;
        }
    }
    
    .btn--form{
        background-color: #e12454;
        color: #fdf2e9;
        align-self: end;
        padding: 1.2rem;
        width: 90%;
        align-items: center;
    }
}


/* ---------------- Contact Left Tab ------------------ */

