@use '../abstracts/' as *;
.employment{
    background-color: #ebf5f5;
    .blue{
        background-color: white;
    }
    .icon{
        color: red;
    }
    h4{
        font-size: 1.8rem;
        color: #e12454;
    }
    .card{
        position: relative;
        &::after{
            content: '';
            position: absolute;            
            bottom: -2rem;
            display: block;
            width: 20rem;
            height: .2rem;
            background: #e12454;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
        }

        .heading{
            font-size: 3rem;
            color: $grey;
            font-weight: 700;
            line-height: 4rem;
            width: 100%;
            text-align: left;
            position: relative;
            padding: 3rem 0 3rem 3rem;    
            
            @include responsive(medium){
                padding: 1rem 0 1rem 1rem;
            }
        }

        .paragraph{
            font-size: 1.4rem;
            line-height: 2.7rem;
            color: $grey;
            font-weight: 200;
            padding: 0 2rem 0 2rem;               
           
        }    
    }
    .card--body{
        h4{
            padding: 3rem 0 2rem 3rem;
        }
        @include responsive(medium){
            padding: 0 0 0 1rem;
        }
    }  
   

    img{
        width: 100%;
        overflow: hidden;
        display: block;
       
        @include responsive(small){
            margin: 2rem 0 2rem 0;
        }
    }

    .tasks{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:2rem;

        p{            
                font-size: 1.4rem;
                line-height: 1.6rem;
                padding: .5rem;
                @include align(flex, null, center, null);
            
        }
    }

    .button{
        justify-content: center;
        align-items: center;

        .btn__primary{
            width: 80%;
            padding: 1rem;
            margin-top: 6rem;
            @include responsive(medium){
                margin-top:1rem;
            }
            @include responsive(small){
                margin: 3rem 0 3rem 0;
            }
        }
    }
}

