@use '../abstracts/' as *;

.intro{
    margin: 8rem 0;
    
    &__heading{
        font-size: 4rem;        
        color: $grey;
        font-weight: 700;
        line-height: 4rem;
        width: 100%;
        text-align: center;
        position: relative;
        margin-bottom: 6rem;

        &::after{
          
            position: absolute;
            content: '';
            bottom: -2rem;
            display: block;
            width: 60rem;
            height: .2rem;
            background: #e12454;
            left: 50%;
            transform: translateX(-50%);
        }
      
    } 

    .paragraph{
       text-indent: 2%;
    }
}