@use '../abstracts/' as *;


.testimonials{
    padding: 4rem 0;    
    margin: 8rem 0;

    .wrapper{
        max-width:90%;
        padding: 4rem 2rem;
        margin: auto; 
        position: relative;  


        .inner{
            position: relative;
            overflow: hidden;

           & > div{
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 0 70px 0;
                opacity: 0;
              }
            
           &  > div.inactive{
                opacity: 0;
              }
           & > div.active{                
                position: relative;
                opacity: 1;                
              }
            
            .img{
                color:#e12454;             
                font-size: 6rem;
                opacity: 0.5;
            }

            h2{
                color: #e12454;
                font-size: 2rem;
                margin: 1.5rem 0;
                
            }

            p{
                font-size: 1.6rem;
                color: $black;
                width: 80%;
                margin: auto;
            }

            div.active .img{
                animation: testim-content-in .3s ease-in-out forwards;
            }
            div.inactive .img{
                animation: testim-content-out .4s ease-in-out forwards;
            }
            div.active h2{
                animation: testim-content-in .5s ease-in-out forwards;
            }

            div.inactive h2{
                animation: testim-content-out .3s ease-in-out forwards;
            }

           div.active p{
                animation: testim-content-in .6s ease-in-out forwards;
            }

            div.inactive p{
                animation: testim-content-out .4s ease-in-out forwards;
            }
        }

        .arrow{
            display: block;
            position: absolute;
            top:50%;
            padding: .5rem;
            color: #e12454;
            font-size: 2em;
            cursor: pointer;
            transform: translateY(-50%);
            z-index: 222;
            transition: color .3s ease-in-out;

           &:hover{
               color: $black;
           }
        }

        .arrow.left{
            left: 10px;
        }

        .arrow.right{
            right: 10px;
        }

        .dots{
            position: absolute;
            width: 100%;
            display: block;
            text-align: center;
            height:1.4rem;
            bottom: 3rem;
            left: 0;
            z-index: 333;

            .dot{
                list-style-type: none;
                display: inline-block;
                width:1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                border: 2px solid #e12454;
                margin: 0 10px;
                cursor: pointer;
                transition: all .3s ease-in-out;

               &.active, &:hover{
                    background: #e12454;
                    border-color: #e12454;
                }
            }
        }
    }
}

@keyframes testim-content-in{
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}