$red: #E12454;
$grey: #223645;
$white: #fff;
$orange-1:#fdf2e9;

$white: #fff;
$black: #000;
$blackDark: #1c1d1f;
$blackLight:#1c1c1c;
$menu:#223645;
$menu-hover:#E12454;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #FF7A03;
$green: #34D399;
$greyDark: #26313c;
$greyDark-40: #828282;
$footer: #223645;
$footer_contact: #334657;
$red-1:#e12454;